@import "./variables";

body {
  font-family: "TT Norms", sans-serif !important;
  color: $font-color;
  min-width: 320px;
  height: 100vh;
  background-color: #ffffff;
  margin: 0;

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .header-container {
      height: 64px;
      border-bottom: 1px solid $border-color;

      header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 16px;


        .logo {
          display: flex;
          padding: 8px 0;
        }


      }
    }

    main {
      flex: 1 1 auto;
      padding: 0;

      .account-container {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: auto;
        grid-template-areas: "account__navigation account__header" "account__navigation account__data" "account__navigation account__password" "account__navigation account__save-changes";

        .account__header {
          grid-area: account__header;
          border-left: 1px solid $border-color;
          border-bottom: 1px solid $border-color;
          padding: 104px 440px 64px 104px;

          h1 {
            font-size: 80px;
            font-weight: 400;
            margin: 0;
          }
        }

        .account__data {
          grid-area: account__data;
          border-left: 1px solid $border-color;
          border-bottom: 1px solid $border-color;
          padding: 64px 96px;

          h3 {
            font-size: 24px;
            font-weight: 500;
            padding-bottom: 32px;
          }
        }

        .account__save-changes {
          grid-area: account__save-changes;
          border-left: 1px solid $border-color;
          border-bottom: 1px solid $border-color;
          padding: 64px 96px 80px;
        }

        .account__navigation {
          grid-area: account__navigation;
          border-bottom: 1px solid $border-color;

          nav {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            height: 100%;
            padding: 104px 96px 0 16px;

            .ui-menu-list {
              flex-direction: column;
              align-items: flex-start;

              a {
                padding: 4px;

                .ui-menu-item__profile {
                  color: $main-color;

                  &:hover {
                    color: $font-color;
                    transition-duration: .4s;
                  }
                }
              }
            }
          }
        }

        input {
          font-size: 16px;
          background-color: $input-color;
          border: none;
          max-width: 544px;
          height: 56px;

          &::-webkit-inner-spin-button {
            display: none;
          }
        }

        label {
          font-size: 16px;
          color: $label-font-color;
          cursor: pointer;
          margin-top: 16px;
        }
      }
    }

    .account__slider {
      border-bottom: 1px solid $border-color;
      padding: 104px 16px 104px;
      display: grid;
      grid-template-columns: auto;
      grid-auto-rows: auto;
      grid-template-areas: "account__slider__header account__slider__header__button" "owl-carousel owl-carousel";

      .account__slider__header {
        grid-area: account__slider__header;
        font-size: 48px;
        font-weight: 500;
        margin: 0;
        padding-bottom: 48px;
        white-space: nowrap;

        span {
          color: $main-color;
        }
      }

      .account__slider__header__button {
        grid-area: account__slider__header__button;
        border: none;
        background-color: white;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 48px;
        white-space: nowrap;
        width: 164px;
        justify-self: flex-end;

        a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          img {
            margin-left: 8px;
          }
        }
      }


      .owl-carousel {
        grid-area: owl-carousel;
        overflow: hidden;

        .owl-stage-outer {
          .owl-stage {
            box-sizing: border-box;

            .owl-item {
              height: 418px !important;
              width: 256px !important;
              background-color: $input-color;
              border-radius: 8px;

              .owl-item__delivery, .owl-item__sale, .owl-item__stock {
                position: absolute;
                left: 24px;
                top: 24px;
                background-color: $owl-item-sale-color;
                font-size: 14px;
                font-weight: 300;
                color: white;
                height: 28px;
                border-radius: 100px;
                white-space: nowrap;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0 12px;
              }

              img {
                max-width: 85%;
                margin: 0 auto;
              }

              svg {
                position: absolute;
                right: 25px;
                top: 29px;
                cursor: pointer;

                .owl-item__heart:hover {
                  fill: $label-font-color;
                  transition-duration: .4s;
                }

                .owl-item__heart:active {
                  fill: $main-color;
                  transition-duration: .4s;
                }
              }

              .owl-item__text {
                border-top: 12px solid $owl-item-color1;
              }

              .owl-item__text2 {
                border-top: 12px solid $owl-item-color2;
              }

              .owl-item__text, .owl-item__text2 {

                padding: 16px 24px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-self: flex-start;

                .owl-item__header {
                  font-family: 'PF Regal Display Pro', sans-serif;
                  font-style: italic;
                  font-weight: 500;
                  font-size: 18px;
                }

                .owl-item__info {
                  color: $owl-item-info-color;
                  font-size: 14px;
                  margin: 2px 0;
                }

                .owl-item__price, .owl-item__price_2 {
                  font-family: 'PF Regal Display Pro', sans-serif;
                  font-style: italic;
                  font-weight: 500;
                  font-size: 18px;
                  margin-top: 8px;
                }

                .owl-item__price_2 {
                  padding-left: 16px;
                  color: $owl-item-price-color;
                }
              }
            }
          }
        }

      }
    }

    footer {
      background-color: $footer-color;

      .footer-navigation {
        border-bottom: 1px solid $footer-border-color;

        .footer-navigation__container {
          color: white;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 64px 16px;

            .footer-navigation__products__header, .footer-navigation__company__header, .footer-navigation__contacts__header {
              font-size: 24px;
              margin-bottom: 8px;
              font-weight: 500;
              cursor: pointer;

              &:hover {
                color: $main-color;
                transition-duration: .4s;
              }
            }

            ul {
              display: flex;
              flex-direction: column;
              padding: 0;
              margin: 0;

              li {
                list-style: none;
                margin: 8px 0;
                font-size: 16px;
                font-weight: 300;
                cursor: pointer;

                a {
                  color: $footer-upper-part-text-color;
                  text-decoration: none;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  svg {
                    margin-right: 8px;
                    margin-top: 4px;
                    align-self: flex-start;
                  }

                  &:hover {
                    color: $footer-hover-color;
                    transition-duration: .4s;
                  }
                }
              }
            }

          .footer-navigation__contacts {
            ul li a {
              &:hover {
                color: $main-color;
                transition-duration: .4s;

                .phone {
                  fill: $footer-color;
                  stroke: $main-color;
                  transition-duration: .4s;
                }

                .email, .clock, .location {
                  fill: $main-color;
                  transition-duration: .4s;
                }
              }
            }
          }
        }
      }

      .social-network {
        border-bottom: 1px solid $footer-border-color;

        .social-network__container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
          padding: 0 16px;

          .social-network__items {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .social-network__item {
              display: flex;
              justify-content: center;
              align-items: center;
              box-sizing: border-box;
              width: 32px;
              height: 32px;
              border: 1px solid $footer-social-network-border;
              margin: 26px 8px;
              border-radius: 100px;
              background-color: $footer-social-network-background;

              &:hover {
                border: 1px solid $main-color;
                transition-duration: .4s;
              }
            }
          }
          .social-network__text__middle{
            min-width: 335px;
          }
          .social-network__text, .social-network__text__middle {
            padding: 32px 0;
            a{
              text-decoration: none;
              color: $footer-middle-part-text-color;
              &:hover {
                color: $footer-middle-part-hover-color;
                transition-duration: .4s;

                .credo {
                  fill: $footer-middle-part-hover-color;
                  transition-duration: .4s;
                }
              }
            }
            a svg {
              margin-left: 8px;
            }
          }
        }
      }

      .footer-info__container {
        color: $footer-middle-part-text-color;
        padding: 32px 16px;
      }
    }


    .modal-content {
      .modal-header {
        border: none;
      }

      .modal-body {
        .menu-burger-navigation {
          .menu-burger-navigation__container {
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 64px 16px;

            .menu-burger__products, .menu-burger__company, .menu-burger__contacts {
              color: $font-color;

              .menu-burger__products__header, .menu-burger__company__header, .menu-burger__contacts__header {
                font-size: 24px;
                margin-bottom: 8px;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                  color: $main-color;
                  transition-duration: .4s;
                }
              }

              ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;

                li {
                  list-style: none;
                  margin: 8px 0;
                  font-size: 16px;
                  font-weight: 300;
                  cursor: pointer;

                  a {
                    color: $font-color;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    svg {
                      margin-right: 8px;
                      margin-top: 4px;
                      align-self: flex-start;
                    }

                    &:hover {
                      color: $main-color;
                      transition-duration: .4s;
                    }
                  }
                }
              }
            }

            .menu-burger__contacts {
              ul li a {
                .phone {
                  fill: white;
                  stroke: $font-color;
                }

                .email, .clock, .location {
                  fill: $font-color
                }

                &:hover {
                  color: $main-color;
                  transition-duration: .4s;

                  .phone {
                    fill: white;
                    stroke: $main-color;
                    transition-duration: .4s;
                  }

                  .email, .clock, .location {
                    fill: $main-color;
                    transition-duration: .4s;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

