//-------------
//Functions
//-------------
@function breakpoint($name) {
  @return map_get($breakpoints, $name);
}
//-------------
//Colors
//-------------
$main-color: #d0bc7a;
$border-color:#ebebeb;
$font-color:#21242e;
$label-font-color:#a6a7ab;
$input-color:#f7f7f7;
$button-color:#21242E;
$owl-item-color1:#c08d74;
$owl-item-color2:#ea976f;
$owl-item-price-color:#a1a3a7;
$owl-item-info-color:#4c4e56;
$owl-item-sale-color:#eb5757;
$footer-color:#1e1d1a;
$footer-hover-color:#7c7d7b;
$footer-border-color:#353534;
$footer-upper-part-text-color:#d0d0cf;
$footer-middle-part-text-color: #727370;
$footer-middle-part-hover-color: #bdbdbc;
$footer-social-network-background: #20211f;
$footer-social-network-border: #444543;
//-------------
//Breakpoints
//-------------
$breakpoints: (
        xs-start: 0px,
        xs-end:   575px,
        sm-start: 576px,
        sm-end:   767px,
        md-start: 768px,
        md-end:   991px,
        lg-start: 992px,
        lg-end:   1199px,
        xl-start: 1200px
);
